<doctype html>

<html>

<head>
<style>
h1 {
    bacground-color:black;
}

</head>

<body>

<h1> Contact Form</h1>
p {
    Color: white;
    font-size 32px;
    margin: right 45%;
}  
   
    </body>
    <h1/>
    <style/>
    
}